name: Build Doxygen + MkDocs + Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout NUEDC
      uses: actions/checkout@v4
      with:
        submodules: true

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'

    - name: Install MkDocs
      run: |
        pip install mkdocs mkdocs-material

    - name: Build and Deploy MkDocs
      run: mkdocs gh-deploy --config-file config/mkdocs/mkdocs.yml --force
